!   username: brandon
!   passowrd: brandon
hostname xrv9k8
username brandon
 group root-lr
 group cisco-support
 secret 10 $6$umFaq1QYdxNODq1.$CXSjKuMHVPemJMQUcUD/T4B8NKYBpxAn000ETSJaW7sw3HK23xRRZ06GNvi3EFmHyocS0BUMJiPwmYm/u6g/S.
!
vrf VRF-A
 address-family ipv4 unicast
  import route-target
   65420:1
  !
  export route-target
   65420:1
  !
 !
 address-family ipv6 unicast
  import route-target
   65420:1
  !
  export route-target
   65420:1
  !
 !
!
vrf VRF-B
 address-family ipv4 unicast
  import route-target
   65420:2
  !
  export route-policy SET-COLOUR-BLUE
  export route-target
   65420:2
  !
 !
 address-family ipv6 unicast
  import route-target
   65420:2
  !
  export route-target
   65420:2
  !
 !
!
call-home 
 service active
 contact smart-licensing
 profile CiscoTAC-1
  active
  destination transport-method http
 !
!
interface Loopback0
 ipv4 address 10.255.255.8 255.255.255.255
 ipv6 address 2001:db8::8/128
!
interface Loopback4201
 vrf VRF-A
 ipv4 address 10.0.0.2 255.255.255.255
 ipv6 address 2001:db8:2::2/128
!
interface Loopback4202
 vrf VRF-B
 ipv4 address 10.0.0.2 255.255.255.255
 ipv6 address 2001:db8:2::2/128
!
interface MgmtEth0/RP0/CPU0/0
 shutdown 
!
interface GigabitEthernet0/0/0/0
 ipv4 address 10.0.38.8 255.255.255.0
 ipv6 address 2001:db8:38::8/64
!
interface GigabitEthernet0/0/0/1
 shutdown
!
interface GigabitEthernet0/0/0/2
 shutdown
!
interface GigabitEthernet0/0/0/3
 shutdown
!
extcommunity-set opaque BLUE
  201
end-set
!
route-policy SET-COLOUR-BLUE
  set extcommunity color BLUE
  pass
end-policy
!         
router isis 1
 is-type level-2-only
 net 49.0001.0000.0000.0008.00
 address-family ipv4 unicast
  metric-style wide
  metric 100
  mpls traffic-eng level-2-only
  mpls traffic-eng router-id Loopback0
  segment-routing mpls
 !
 address-family ipv6 unicast
  metric 100
  single-topology
 !
 interface Loopback0
  passive
  address-family ipv4 unicast
   prefix-sid absolute 20008
  !
  address-family ipv6 unicast
  !
 !
 interface GigabitEthernet0/0/0/0
  circuit-type level-2-only
  point-to-point
  hello-padding disable
  address-family ipv4 unicast
  !
  address-family ipv6 unicast
  !
 !
!
router bgp 65420
 bgp router-id 10.255.255.8
 address-family ipv4 unicast
 !
 address-family vpnv4 unicast
 !
 address-family ipv6 unicast
 !
 address-family vpnv6 unicast
 !
 neighbor-group IBGP-PEER-V4
  remote-as 65420
  update-source Loopback0
  address-family ipv4 unicast
  !
  address-family vpnv4 unicast
  !
  address-family vpnv6 unicast
  !
 !
 neighbor-group IBGP-PEER-V6
  remote-as 65420
  update-source Loopback0
  address-family ipv6 unicast
  !
 !
 neighbor 2001:db8::2
  use neighbor-group IBGP-PEER-V6
 !
 neighbor 2001:db8::3
  use neighbor-group IBGP-PEER-V6
 !
 neighbor 10.255.255.2
  use neighbor-group IBGP-PEER-V4
 !
 neighbor 10.255.255.3
  use neighbor-group IBGP-PEER-V4
 !
 vrf VRF-A
  rd 65420:1
  address-family ipv4 unicast
   redistribute connected
  !
  address-family ipv6 unicast
   redistribute connected
  !
 !
 vrf VRF-B
  rd 65420:2
  address-family ipv4 unicast
   redistribute connected
  !
  address-family ipv6 unicast
   redistribute connected
  !
 !
!
mpls traffic-eng
 interface GigabitEthernet0/0/0/0
 !        
!
segment-routing
 traffic-eng
  interface GigabitEthernet0/0/0/0
  !
 !
!
end