!   username: brandon
!   passowrd: brandon
hostname xrv9k7
logging console debugging
username brandon
 group root-lr
 group cisco-support
 secret 10 $6$Qxsjx1DyPzzqDx1.$2z6v028adQ5NllWWcvAEuLivxgNVE1NISRsBzbTHi/BMffedVOK.jL7vSQBmcoiSSx1j4wTzQjqY/JR7Je.E01
!
vrf VRF-A
 address-family ipv4 unicast
  import route-target
   65420:1
  !
  export route-target
   65420:1
  !
 !
 address-family ipv6 unicast
  import route-target
   65420:1
  !
  export route-target
   65420:1
  !
 !
!
vrf VRF-B
 address-family ipv4 unicast
  import route-target
   65420:2
  !
  export route-policy SET-COLOUR-BLUE
  export route-target
   65420:2
  !
 !
 address-family ipv6 unicast
  import route-target
   65420:2
  !
  export route-target
   65420:2
  !
 !
!         
call-home
 service active
 contact smart-licensing
 profile CiscoTAC-1
  active
  destination transport-method http
 !
!
interface Loopback0
 ipv4 address 10.255.255.7 255.255.255.255
 ipv6 address 2001:db8::7/128
!
interface Loopback4201
 vrf VRF-A
 ipv4 address 10.0.0.1 255.255.255.255
 ipv6 address 2001:db8:1::1/128
!
interface Loopback4202
 vrf VRF-B
 ipv4 address 10.0.0.1 255.255.255.255
 ipv6 address 2001:db8:1::1/128
!
interface MgmtEth0/RP0/CPU0/0
 shutdown
!
interface GigabitEthernet0/0/0/0
 ipv4 address 10.0.27.7 255.255.255.0
 ipv6 address 2001:db8:27::7/64
!
interface GigabitEthernet0/0/0/1
 shutdown
!
interface GigabitEthernet0/0/0/2
 shutdown
!
interface GigabitEthernet0/0/0/3
 shutdown
!
extcommunity-set opaque BLUE
  201
end-set
!
route-policy SET-COLOUR-BLUE
  set extcommunity color BLUE
  pass
end-policy
!
route-policy BGP-VPNV4-POLICY
  if rd in (65420:2) then
    set extcommunity color BLUE additive
  endif
  pass
end-policy
!
router isis 1
 is-type level-2-only
 net 49.0001.0000.0000.0007.00
 distribute link-state
 address-family ipv4 unicast
  metric-style wide
  metric 100
  mpls traffic-eng level-2-only
  mpls traffic-eng router-id Loopback0
  segment-routing mpls
 !
 address-family ipv6 unicast
  metric 100
  single-topology
 !        
 interface Loopback0
  passive
  address-family ipv4 unicast
   prefix-sid absolute 20007
  !
  address-family ipv6 unicast
  !
 !
 interface GigabitEthernet0/0/0/0
  circuit-type level-2-only
  point-to-point
  hello-padding disable
  address-family ipv4 unicast
  !
  address-family ipv6 unicast
  !
 !
!
router bgp 65420
 bgp router-id 10.255.255.7
 address-family ipv4 unicast
 !
 address-family vpnv4 unicast
 !
 address-family ipv6 unicast
 !
 address-family vpnv6 unicast
 !
 neighbor-group IBGP-PEER-V4
  remote-as 65420
  update-source Loopback0
  address-family ipv4 unicast
  !
  address-family vpnv4 unicast
  !
  address-family vpnv6 unicast
  !
 !
 neighbor-group IBGP-PEER-V6
  remote-as 65420
  update-source Loopback0
  address-family ipv6 unicast
  !
 !
 neighbor 2001:db8::2
  use neighbor-group IBGP-PEER-V6
 !
 neighbor 2001:db8::3
  use neighbor-group IBGP-PEER-V6
 !
 neighbor 10.255.255.2
  use neighbor-group IBGP-PEER-V4
 !
 neighbor 10.255.255.3
  use neighbor-group IBGP-PEER-V4
 !
 vrf VRF-A
  rd 65420:1
  address-family ipv4 unicast
   redistribute connected
  !
  address-family ipv6 unicast
   redistribute connected
  !
 !
 vrf VRF-B
  rd 65420:2
  address-family ipv4 unicast
   redistribute connected
  !
  address-family ipv6 unicast
   redistribute connected
  !
 !
!
mpls traffic-eng
!
segment-routing
 traffic-eng
  on-demand color 201
   dynamic
    metric
     type igp
    !
    affinity exclude-any
     name RED
    !
   !
  !
  affinity-map
   name RED bit-position 23
  !       
 !
!
end