RP/0/RP0/CPU0:BNG-1#sh run
Sun Oct  9 22:13:05.643 UTC
Building configuration...
!! IOS XR Configuration 7.2.1
!! Last configuration change at Sun Jul 17 15:48:33 2022 by brandon
!
hostname BNG-1
logging console debugging
! FreeRADIUS Host
radius-server host 10.4.20.89 auth-port 1812 acct-port 1813
 key 7 082345430B1608
!
radius-server host 10.4.20.85 auth-port 1812 acct-port 1813
 key 7 05080F1C22434A000A0618
!
username brandon
 group root-lr
 group cisco-support
 secret 10 $6$MMwCu/4jXSvc5u/.$urzS6.NlvTG/PiHeYkJRZF1SmJ7Yin8bW9g2xWbPA8ZbSZUF/kt7tRylEU86Yzu39WKI886mnvpLm6VjQmGsG1
!
username networkcli
 group root-lr
 group sysadmin
!
aaa group server radius BNG_RADIUS
 server 10.4.20.89 auth-port 1812 acct-port 1813
!         
! Shared Radius Group
aaa group server radius WHOLESALE_RADIUS
 server 10.4.20.89 auth-port 1812 acct-port 1813
 server 10.4.20.85 auth-port 1812 acct-port 1813
!
vrf ISP1
 address-family ipv4 unicast
  import route-target
   65420:10
  !
  export route-target
   65420:10
  !
 !
!
vrf ISP2
!
address-family ipv4 unicast
!
pool vrf ISP2 ipv4 POOL-10.20.0.0_16
 network 10.20.0.0/16
 exclude 10.20.0.1 10.20.0.2
!         
pool vrf default ipv4 POOL-10.50.0.0_16
 network 10.50.0.0/16 default-router 10.50.0.1
 exclude 10.50.0.1 10.50.0.2
!
dhcp ipv4
 profile ISP2 server
  lease 0 1 0
  pool POOL-10.20.0.0_16
  dns-server 8.8.8.8
  subnet-mask 255.255.0.0
  default-router 10.20.0.1
 !
 profile BNG-SERVER server
  lease 0 1 0
  pool POOL-10.50.0.0_16
  dns-server 8.8.8.8 1.1.1.1
  subnet-mask 255.255.0.0
  default-router 10.50.0.1
 !
 interface GigabitEthernet0/0/0/0.20 server profile ISP2
 interface GigabitEthernet0/0/0/0.500 server profile BNG-SERVER
!
call-home 
 service active
 contact smart-licensing
 profile CiscoTAC-1
  active
  destination transport-method http
 !
!
control-plane
 management-plane
  inband
   interface all
    allow NETCONF peer
     address ipv4 10.4.20.0/24
    !
   !
  !
 !
!
netconf-yang agent
 ssh
!
!
policy-map SPEED_150
 class class-default
  police rate 165 mbps 
  ! 
 ! 
 end-policy-map
! 
policy-map PM_SPEED_150
 class class-default
  police rate 165 mbps 
  ! 
 ! 
 end-policy-map
! 
policy-map PM_SPEED_1000
 class class-default
  police rate 1000 mbps 
  ! 
 ! 
 end-policy-map
! 
interface Loopback10
 vrf ISP1
 ipv4 address 10.10.0.1 255.255.0.0
!
interface Loopback20
 vrf ISP2
 ipv4 address 10.20.0.1 255.255.0.0
!
interface Loopback500
 ipv4 address 10.50.0.1 255.255.0.0
!
interface MgmtEth0/RP0/CPU0/0
 shutdown
!
interface GigabitEthernet0/0/0/0.10
 ipv4 point-to-point
 ipv4 unnumbered Loopback10
 service-policy type control subscriber PM_IPOE
 encapsulation dot1q 10 second-dot1q 1
 ipsubscriber ipv4 l2-connected
  initiator dhcp
 !
!
interface GigabitEthernet0/0/0/0.20
 vrf ISP2
 ipv4 point-to-point
 ipv4 unnumbered Loopback20
 service-policy type control subscriber PM_IPOE_ISP2
 encapsulation dot1q 20 second-dot1q 1
 ipsubscriber ipv4 l2-connected
  initiator dhcp
 !
!
interface GigabitEthernet0/0/0/1
 vrf ISP1
 ipv4 address 192.0.2.0 255.255.255.254
!
interface GigabitEthernet0/0/0/2
 ipv4 address 10.4.20.94 255.255.255.0
!
interface GigabitEthernet0/0/0/3
 vrf ISP2
 ipv4 address 192.0.2.0 255.255.255.254
!
route-policy RPL-ISP1-IN
  if destination in (0.0.0.0/0) then
    pass
  endif
end-policy
!
route-policy RPL-ISP2-IN
  if destination in (0.0.0.0/0) then
    pass
  endif
end-policy
!
route-policy RPL-ISP1-OUT
  if destination in (10.10.0.0/16) then
    pass
  endif
end-policy
!
route-policy RPL-ISP2-OUT
  if destination in (10.20.0.0/16 le 24) then
    pass
  endif
end-policy
!
router static
 address-family ipv4 unicast
  0.0.0.0/0 10.4.20.254
 !        
!
router bgp 65420
 address-family ipv4 unicast
 !
 address-family vpnv4 unicast
 !
 address-family ipv6 unicast
 !
 vrf ISP1
  rd 65420:10
  address-family ipv4 unicast
   redistribute connected
  !
  neighbor 192.0.2.1
   remote-as 65510
   update-source GigabitEthernet0/0/0/1
   address-family ipv4 unicast
    route-policy RPL-ISP1-IN in
    route-policy RPL-ISP1-OUT out
   !
  !
 !
 vrf ISP2 
  rd 65420:20
  address-family ipv4 unicast
   redistribute connected
  !
  neighbor 192.0.2.1
   remote-as 65520
   address-family ipv4 unicast
    route-policy RPL-ISP2-IN in
    route-policy RPL-ISP2-OUT out
   !
  !
 !
!
! Dynamic templates that are activated upon access-accept returned from RADIUS
dynamic-template
 type ipsubscriber IPOE_DT
  accounting aaa list default type session periodic-interval 30
  ipv4 unnumbered Loopback500
 !
 type ipsubscriber DT_IPOE_ISP1
  vrf ISP1
  accounting aaa list SHARED_RADIUS type session
  ipv4 unnumbered Loopback10
 !
 type ipsubscriber DT_IPOE_ISP2
  vrf ISP2
  accounting aaa list SHARED_RADIUS type session
  ipv4 unnumbered Loopback20
 !
 type ipsubscriber IPOE_DT_WHOLESALE_A
  accounting aaa list default type session
 !
!
netconf agent tty
!
ssh server vrf default
ssh server netconf vrf default
! AAA Attribute to match, we can just use mac address in the policy but this is cleaner ;)
aaa attribute format ATTR_MAC
 mac-address
!
aaa accounting subscriber default group BNG_RADIUS
! AAA Subscriber configuration
aaa accounting subscriber SHARED_RADIUS group WHOLESALE_RADIUS
aaa authorization subscriber default group BNG_RADIUS
aaa authorization subscriber SHARED_RADIUS group WHOLESALE_RADIUS
aaa authentication subscriber default group BNG_RADIUS
aaa authentication subscriber SHARED_RADIUS group WHOLESALE_RADIUS
!
class-map type control subscriber match-any IPOE_DHCPV4V6
 match protocol dhcpv4 dhcpv6 
 end-class-map
! 
!
class-map type control subscriber match-any CM_IPOE_DHCPV4V6
 match protocol dhcpv4 dhcpv6 
 end-class-map
! 
policy-map type control subscriber PM_IPOE
 event session-start match-first
  class type control subscriber IPOE_DHCPV4V6 do-until-failure
   1 authorize aaa list default format ATTR_MAC password default
   2 activate dynamic-template IPOE_DT
  ! 
 ! 
 event authorization-no-response match-first
  class type control subscriber IPOE_DHCPV4V6 do-until-failure
   1 activate dynamic-template IPOE_DT
  !       
 ! 
 end-policy-map
! 
policy-map type control subscriber PM_IPOE_ISP1
 event session-start match-first
  class type control subscriber CM_IPOE_DHCPV4V6 do-until-failure
   1 authorize aaa list SHARED_RADIUS format ATTR_MAC password default
   2 activate dynamic-template DT_IPOE_ISP1
  ! 
 ! 
 event authorization-no-response match-first
  class type control subscriber CM_IPOE_DHCPV4V6 do-until-failure
   1 activate dynamic-template DT_IPOE_ISP1
  ! 
 ! 
 end-policy-map
! 
policy-map type control subscriber PM_IPOE_ISP2
 event session-start match-first
  class type control subscriber CM_IPOE_DHCPV4V6 do-until-failure
   1 authorize aaa list SHARED_RADIUS format ATTR_MAC password default
   2 activate dynamic-template DT_IPOE_ISP2
  !       
 ! 
 event authorization-no-response match-first
  class type control subscriber CM_IPOE_DHCPV4V6 do-until-failure
   1 activate dynamic-template DT_IPOE_ISP2
  ! 
 ! 
 end-policy-map
! 
end