RP/0/RP0/CPU0:BNG-1#show dhcp ipv4 server binding detail
Sun Oct  9 22:16:20.104 UTC
MAC Address:                 5000.0002.0000
VRF:                         ISP2
IP Address:                  10.20.0.3
Server IP Address:           10.20.0.1
ReceivedCircuit ID:          -
InsertedCircuit ID:          -
ReceivedRemote ID:           -
InsertedRemote ID:           -
ReceivedVSISO:               -
Auth. on received relay info:TRUE
ParamRequestOption:          -
SavedOptions:                -
Profile:                     ISP2
Selected Profile:            ISP2
State:                       BOUND
Lease:                       3600 secs (01:00:00)
Lease remaining:             3589 secs (00:59:49)
Client ID:                   0x00-0x63-0x69-0x73-0x63-0x6F-0x2D-0x35-0x30-0x30-0x30-0x2E-0x30-0x30-0x30-0x32-0x2E-0x30-0x30-0x30-0x30-0x2D-0x47-0x69-0x31-0x2E-0x32-0x30
Access Interface:            GigabitEthernet0/0/0/0.20
Access VRF:                  ISP2
VLAN Id:                     outer 20, inner 1
Subscriber Label:            0x4000000
Subscriber Interface:        GigabitEthernet0/0/0/0.20.ip1
Srg State:                   NONE
Srg Group Id:                0
Event History:                   
Session Start:               Oct  9 22:14:04.456                   
PACKET_DISCOVER              :     0.001s
DPM_SUCCESS                  :    40.652s
DAPS_SUCCESS                 :    40.658s
PACKET_REQUEST               :    55.155s
LEASE_DPM_SUCCESS            :    57.472s


RP/0/RP0/CPU0:BNG-1#
RP/0/RP0/CPU0:BNG-1#
RP/0/RP0/CPU0:BNG-1#show subscriber session all detail 
Sun Oct  9 22:16:26.364 UTC
Interface:                GigabitEthernet0/0/0/0.20.ip1
Circuit ID:               Unknown
Remote ID:                Unknown
Type:                     IP: DHCP-trigger
IPv4 State:               Up, Sun Oct  9 22:16:09 2022
IPv4 Address:             10.20.0.3, VRF: ISP2
Mac Address:              5000.0002.0000
Account-Session Id:       04000001
Nas-Port:                 Unknown
User name:                5000.0002.0000
Formatted User name:      5000.0002.0000
Client User name:         unknown
Outer VLAN ID:            20
Inner VLAN ID:            1
Subscriber Label:         0x04000000
Created:                  Sun Oct  9 22:15:11 2022
State:                    Activated, Sun Oct  9 22:16:09 2022

Authentication:           unauthenticated
Authorization:            unauthorized
Access-interface:         GigabitEthernet0/0/0/0.20
Policy Executed: 
policy-map type control subscriber PM_IPOE_ISP2
  event Session-Start match-first [at Sun Oct  9 22:15:11 2022]
    class type control subscriber CM_IPOE_DHCPV4V6 do-until-failure [Succeeded]
      1 authorize aaa list SHARED_RADIUS [Succeeded]
  event Author No Response match-first [at Sun Oct  9 22:15:52 2022]
    class type control subscriber CM_IPOE_DHCPV4V6 do-until-failure [Succeeded]
      1 activate dynamic-template DT_IPOE_ISP2 [Succeeded]
Session Accounting:        
  Acct-Session-Id:          04000001
  Method-list:              SHARED_RADIUS
  Accounting started:       Sun Oct  9 22:16:09 2022
  Interim accounting:       Off
Last COA request received: unavailable
Pending Callbacks: 
  Waiting for Accounting to complete
  Waiting for Accounting-Start response from AAA

RP/0/RP0/CPU0:BNG-1#
RP/0/RP0/CPU0:BNG-1#
RP/0/RP0/CPU0:BNG-1#
RP/0/RP0/CPU0:BNG-1#
RP/0/RP0/CPU0:BNG-1#show route vrf VRF-?
WORD  
RP/0/RP0/CPU0:BNG-1#show route vrf ?   
  all   Display all VRFs
  ISP1  VRF Name
  ISP2  VRF Name
  WORD  VRF Name
RP/0/RP0/CPU0:BNG-1#show route vrf ISP2 ?
  A.B.C.D             Network to display information about
  A.B.C.D/length      Network to display information about
  afi-all             IPv4 and IPv6 commands
  application         Application routes
  backup              Backup paths
  best-local          Best Local
  bgp                 Border Gateway Protocol (BGP)
  connected           Connected
  dagr                Direct-Attached Gateway Redundancy (DAGR)
  deleted             Deleted routes(cisco-support)
  eigrp               Enhanced IGRP
  ipv4                IPv4 commands
  ipv6                IPv6 commands
  isis                ISO IS-IS
  lisp                LISP routes
  local               Local
  longer-prefixes     Show routes matching the specified Network/Mask pair only
  mobile              Mobile IP routes
  next-hop            Route next-hop
  ospf                Open Shortest Path First (OSPF)
  quarantined         looping routes
  resolving-next-hop  Next Hop
  rip                 Routing Information Protocol (RIP)
RP/0/RP0/CPU0:BNG-1#show route vrf ISP2 
Sun Oct  9 22:16:46.149 UTC

Codes: C - connected, S - static, R - RIP, B - BGP, (>) - Diversion path
       D - EIGRP, EX - EIGRP external, O - OSPF, IA - OSPF inter area
       N1 - OSPF NSSA external type 1, N2 - OSPF NSSA external type 2
       E1 - OSPF external type 1, E2 - OSPF external type 2, E - EGP
       i - ISIS, L1 - IS-IS level-1, L2 - IS-IS level-2
       ia - IS-IS inter area, su - IS-IS summary null, * - candidate default
       U - per-user static route, o - ODR, L - local, G  - DAGR, l - LISP
       A - access/subscriber, a - Application route
       M - mobile route, r - RPL, t - Traffic Engineering, (!) - FRR Backup path

Gateway of last resort is 192.0.2.1 to network 0.0.0.0

B*   0.0.0.0/0 [20/0] via 192.0.2.1, 00:03:19
C    10.20.0.0/16 is directly connected, 00:05:28, Loopback20
L    10.20.0.1/32 is directly connected, 00:05:28, Loopback20
A    10.20.0.3/32 is directly connected, 00:00:37, GigabitEthernet0/0/0/0.20.ip1
C    192.0.2.0/31 is directly connected, 00:04:22, GigabitEthernet0/0/0/3
L    192.0.2.0/32 is directly connected, 00:04:22, GigabitEthernet0/0/0/3
RP/0/RP0/CPU0:BNG-1#show cef vrf ISP2 10.20.0.3/32 detail
Sun Oct  9 22:16:59.054 UTC
10.20.0.3/32, version 10, attached, subscriber, internal 0x1000041 0x30 (ptr 0xd7a20b0) [1], 0x0 (0xe353eb8), 0x0 (0x0)
 Updated Oct  9 22:16:08.538 
 remote adjacency to GigabitEthernet0/0/0/0.20
 Prefix Len 32, traffic index 0, precedence n/a, priority 3
  gateway array (0xe1be5d0) reference count 1, flags 0x80000, source rib (7), 0 backups
                [2 type 3 flags 0x808401 (0xe26f1b8) ext 0x0 (0x0)]
  LW-LDI[type=3, refc=1, ptr=0xe353eb8, sh-ldi=0xe26f1b8]
  gateway array update type-time 1 Oct  9 22:16:08.538
 LDI Update time Oct  9 22:16:08.541
 LW-LDI-TS Oct  9 22:16:08.541
  SUBS-INFO[0x1db870a8 IFH=0x1000048 (Subs I/F GigabitEthernet0/0/0/0.20.ip1) NH=0x0 Flags=0x28]
   via GigabitEthernet0/0/0/0.20.ip1, 2 dependencies, weight 0, class 0 [flags 0x8]
    path-idx 0 NHID 0x0 [0x1da02278 0x0]
    remote adjacency

    Load distribution: 0 (refcount 2)

    Hash  OK  Interface                 Address
    0     Y   GigabitEthernet0/0/0/0.20 remote         
RP/0/RP0/CPU0:BNG-1#