RP/0/0/CPU0:ISP2#sh run
Sun Oct  9 22:12:42.590 UTC
Building configuration...
!! IOS XR Configuration 6.3.1
!! Last configuration change at Mon Jul 11 05:47:34 2022 by brandon
!
hostname ISP2
interface MgmtEth0/0/CPU0/0
 shutdown
!
interface GigabitEthernet0/0/0/0
 ipv4 address 192.0.2.1 255.255.255.254
!
interface GigabitEthernet0/0/0/1
 shutdown
!
interface GigabitEthernet0/0/0/2
 shutdown
!
router bgp 65520
 bgp router-id 20.20.20.20
 address-family ipv4 unicast
 !
 neighbor 192.0.2.0
  remote-as 65420
  address-family ipv4 unicast
   route-policy PASS-ALL in
   route-policy PASS-ALL out
   default-originate
  !
 !
!
end