RP/0/0/CPU0:ios#sh run
Sun Oct  9 22:12:07.632 UTC
Building configuration...
!! IOS XR Configuration 6.3.1
!! Last configuration change at Mon Jul 11 05:42:21 2022 by cisco
!
interface MgmtEth0/0/CPU0/0
 shutdown
!
interface GigabitEthernet0/0/0/0
 ipv4 address 192.0.2.1 255.255.255.254
!
interface GigabitEthernet0/0/0/1
 shutdown
!
interface GigabitEthernet0/0/0/2
 shutdown
!
route-policy PASS-ALL
  pass
end-policy
!
router static
 address-family ipv4 unicast
  0.0.0.0/0 Null0
 !
!
router bgp 65510
 bgp router-id 10.10.10.10
 address-family ipv4 unicast
 !
 neighbor 192.0.2.0
  remote-as 65420
  address-family ipv4 unicast
   route-policy PASS-ALL in
   route-policy PASS-ALL out
   default-originate
  !
 !
!
end